<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikeapp.mapper.IkeMapProjectDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ikeapp.entity.IkeMapProject">
		<id column="ID" property="id" />
		<result column="PROJECT_NAME" property="projectName" />
		<result column="AREA" property="area" />
		<result column="REGION_ID" property="regionId" />
		<result column="REGION_NAME" property="regionName" />
		<result column="AREA_AMOUNT" property="areaAmount" />
		<result column="PRICE" property="price" />
		<result column="VERSION" property="version" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DISABLED" property="disabled" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, PROJECT_NAME AS projectName, AREA AS area, REGION_ID AS regionId, REGION_NAME AS regionName, AREA_AMOUNT AS areaAmount, PRICE AS price, VERSION AS version, CREATE_DATE AS createDate, DISABLED AS disabled
    </sql>

</mapper>
