<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikeapp.mapper.ResourcesMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ikeapp.entity.Resources">
		<id column="id" property="id" />
		<result column="url" property="url" />
		<result column="description" property="description" />
		<result column="created_time" property="createdTime" />
		<result column="update_time" property="updateTime" />
		<result column="name" property="name" />
		<result column="parent_Id" property="parentId" />
		<result column="resKey" property="resKey" />
		<result column="resUrl" property="resUrl" />
		<result column="type" property="type" />
		<result column="level" property="level" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, description, created_time AS createdTime, update_time AS updateTime, name, parent_Id, resKey, resUrl, type, level
    </sql>

	
	<select id="test" resultType="com.ikeapp.entity.Resources">
		SELECT * from resources
	</select>

</mapper>
