<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap{width:100%;height:500px;}
		p{margin-left:5px; font-size:14px;}
	</style>
	<title>Login</title>
	
	<script th:src="@{{path}/js/3rd/jquery3.2.1.js(path=${contextPath})}" ></script>
	<script th:src="@{{path}/js/service/authService.js(path=${contextPath})}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{{path}/css/loginCss.css(path=${contextPath})}" />
</head>
<body>
	<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form" id="loginform" >
			<input type="text" id="userName" name = "userName" placeholder="admin">
			<input type="password" id="password" name ="password" placeholder="admin">
			<button type="submit" id="login-button" >Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
</body>
</html>
<script type="text/javascript">
$("#login-button").bind('click',function(){
    //alert('Click Login.');
	//doPost({userName:$('#userName').value},function(){
	//	alert("Click Login.");
    var ctx = /*[[@{/}]]*/ '';
    var username = $('#userName').val();
    var password = $('#password').val();

    $.ajax({
		type:"post",
		data:{"userName":username,"password":password},

		url:ctx+"/login/login",
		success:function(result){
		    if(result.succ==true){

		        alert(result.succ);
                window.location = "main2";
			}else{
				alert("用户名或密码错误");
                window.location = "login1";
			}

		},

	});
	// });
});


</script>
